.super-row{
    display: flex;
}
.super-col{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.row{
    display: flex;
}
.col{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}